name: Docker Image CI for Ubuntu

on:
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    env:
      UBUNTU_VERSION: '24.04'
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: ubuntu-desktop
        file: ./${{env.UBUNTU_VERSION}}/Dockerfile
        platforms: linux/amd64
        push: true
        tags: ShaobaiLee/docker-ubuntu-desktop:${{env.UBUNTU_VERSION}}
